<div class="card-margin mat-elevation-z3">
    <div class="mat-table matTable">
        <mat-card class="mat-elevation-z0">
            <mat-card-header>
                <button mat-raised-button class="newButton" color="primary" [routerLink]="['/admin/products/new']"
                    routerLinkActive="router-link-active">
                    <mat-icon class="add">add_circle</mat-icon> Add<span class="spacer"></span>
                </button>
                &nbsp;&nbsp;
                <button class="newButton" mat-raised-button color="primary" (click)="exportTable()">
                    <mat-icon class="add">description</mat-icon>Excel
                </button>&nbsp;&nbsp;
                <button class="newButton" mat-raised-button color="primary" (click)="downloadPDF()">
                    <mat-icon class="add">picture_as_pdf</mat-icon>Pdf
                </button><span class="spacer"></span> <span class="spacer"></span>
                <mat-form-field  appearance="outline">
                    <!-- <mat-label>Search</mat-label> -->
                    <input matInput placeholder="Search" (keyup)="applyFilter($event)">
                    <button matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-header>
        </mat-card>
   
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                <td mat-cell *matCellDef="let element">{{dataSource.filteredData.indexOf(element)+1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} -->
                    <!-- <br> <span style="color: rgb(129, 128, 128);">{{element.mGeneric}}</span> 
                </td>
            </ng-container>
             <ng-container matColumnDef="shortName">
                <th mat-header-cell *matHeaderCellDef> ShortName </th>
                <td mat-cell *matCellDef="let element"> {{element.shortName}} </td>
            </ng-container> 
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category.category}} </td>
            </ng-container> -->

            <!-- <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element"> {{element.company.company}} </td>
            </ng-container>
            <ng-container matColumnDef="hsn">
                <th mat-header-cell *matHeaderCellDef> HSN </th>
                <td mat-cell *matCellDef="let element"> {{element.hsn.code}} </td>
            </ng-container>
            <ng-container matColumnDef="GST">
                <th mat-header-cell *matHeaderCellDef> GST% </th>
                <td mat-cell *matCellDef="let element"> {{element.hsn.gst}} </td>
            </ng-container>
           
            <ng-container matColumnDef="unitPacking">
                <th mat-header-cell *matHeaderCellDef>Packing </th>
                <td mat-cell *matCellDef="let element"> {{element.packing}} * {{element.units}}  </td>
            </ng-container>
          
           
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle matTooltipPosition="left" (click)="changeStatus(element.id, element.status)"
                        [checked]="element.status ===  true " class="primary">
                    </mat-slide-toggle>
                </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <mat-icon class="view" color="primary" matTooltip="View" (click)="UpdateMedicine(element.id)">
                        mode</mat-icon>
                    <mat-icon class="view" color="warn" matTooltip="Delete" (click)="DeleteMedicine(element.id)">
                        delete</mat-icon>
                </td> 
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  -->
        <!-- <div *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="image" *ngIf="total <= 0">
            <img src="{{noData.image}}" style="height:150px;width: 150px;">
            <div>
                {{noData.noDataFound}}
            </div> -->
        <!-- </div>  -->
        <!-- <mat-paginator #paginator [length]="total" [showFirstLastButtons]="true" [pageSize]="pageSize"
            [pageSizeOptions]="totalLength">
        </mat-paginator> -->
   
<!-- <ag-grid-angular 
    style="width:100%; height: 200px;" 
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"></ag-grid-angular> -->
    <ag-grid-angular
    pagination="true"
    paginationPageSize="15"
    style="width:100%; height:800px" 
    class="ag-theme-alpine"
    [defaultColDef]="defaultColDef"
    [rowData]="dataSource.filteredData" 
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    [editType]="'fullRow'"
    (rowEditingStopped)="(onRowEditingStopped)"
    [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</div>
</div>


