.cardmargin{
    margin: 0% 30% 0% 30%;
    border-radius: 10px;
}
@media only screen and (max-width: 426px) {
	.cardmargin{
		margin: 0% 0% 0% 0%;
		border-radius: 10px;
	}
  }
mat-form-field{
    border-radius: 10px;
}
button{
    width: 100px;
}
h1{
	text-align:center;
}
.loginBtn{
float: right;
}

$num-of-char: 4;
$char-width: 1ch;
$gap: .4 * $char-width;
$in-w: $num-of-char * ($char-width + ($gap));
.input {
	display: block;
	border: none;
	width: $in-w;
	background: repeating-linear-gradient(90deg, 
		#000 0, #000 $char-width, 
		transparent 0, transparent $char-width + $gap) 
		0 100%/ #{$in-w - $gap} 2px no-repeat;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: $gap;
	
	&:focus {
		outline: none;
	}
}
mat-form-field{
    width: 80%;
}
#toggle-linear{
width: 150px;
}