
 <br><br><br>
 <div class="cardmargin">
   <mat-card class="mat-elevation-z5">
   <h1 mat-card-title>Forgot Password</h1>
   <mat-vertical-stepper linear #stepper>
     <mat-step [stepControl]="emailForm" errorMessage="EmailId is required">
       <form [formGroup]="emailForm">
         <ng-template matStepLabel>Fill Out Your EmailId</ng-template>
         <mat-form-field appearance="outline">
           <mat-label>EmailId</mat-label>
           <input matInput formControlName="eMail" placeholder="Enter EmailId" required>
         </mat-form-field>
         <div>
           <button mat-raised-button color="primary"  matStepperNext (click)="sendOTP()">Send</button>
         </div>
       </form>
     </mat-step>
     <mat-step [stepControl]="OTPForm" errorMessage="You Must Entered OTP">
          <form [formGroup]="OTPForm">
             <ng-template matStepLabel>Verify Your OTP</ng-template>
          <input class="input" formControlName="otp" maxlength='4'/>
          <br>
         <div>
           <button mat-raised-button  matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
           <button mat-raised-button color="primary" matStepperNext  (click)="VerifyOTP()">Verify</button>
         </div>
       </form>
      
     </mat-step>
     <mat-step [stepControl]="passwordForm">
         <form [formGroup]="passwordForm">
           <ng-template matStepLabel>Fill Out Your Password</ng-template>
           <mat-form-field appearance="outline">
             <mat-label>New Password</mat-label>
            <input matInput formControlName="ePassword" type="password" placeholder="Enter New Password"> 
           </mat-form-field><br>
           <mat-form-field appearance="outline">
             <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="cnfpassword" type="password" placeholder="Enter Confirm Password"> 
           </mat-form-field>
       <div>
         <button mat-raised-button color="primary" matStepperNext (click)="UpdatePassword()">Send</button>
       </div>
     </form>
     </mat-step>
   </mat-vertical-stepper>
 </mat-card><br>
 <a class="loginBtn"  [routerLink]="['/login']" routerLinkActive="router-link-active" >back to Login..</a>
 </div>
 