/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body { height: 100%; }
body { margin: 0; }
.mat-drawer-container{
  background-color:#F3F3F3;
}
.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
  }
  *:focus {
    outline: none !important;
  }
.sheetWidth{
  width: 1500px;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.mat-elevation-z3{
  box-shadow: 0rem 0rem 3rem rgba(0,0,0,0.1);
}
.custom-style{
  background-color:#d4edda ;
  color:black;
}
