
table {
    width: 100%;
  }
 table td{
    text-align: center;
  }
  table th{
    text-align: center;
  }
  
  mat-toolbar{
    margin: 1% 1% 1% 1%;
    width: 96%;
  }
  
  .card-margin{
    margin: 1%;
  }
  
  
  p{
    text-align: center;
  }
 
  .search{
      margin-left: 75%;
  }
  .view{  
    cursor: pointer;
    margin: 2px;
    border: 1px solid rgb(231, 230, 230);
    padding: 5px;
    border-radius: 5px;
    }
    
    .add{
    margin-left: -5px;
    font-size: 20px;
    }
    .spacer{
      flex: 1 1 auto;
    }
 
  .exportButton{
    height: 35px;
  }
  .matTable{
  border: 1px solid #E5E7E9;
  }
  .image{
    height: 80px;
    width: 80px;
  }